{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main class="main">
    <form method="POST" action="/order?id={{id}}">
        <section class="order_body">
            <h1>Ваше замовлення</h1>
            {{#with product}}
            <ul>
                <li>
                    <div class="name_field">
                        <h6>{{name}} ({{../amount}} шт)</h6>
                        <input type="hidden" value="{{../amount}}" name="amount">
                        <span>{{../productPrice}}$</span>
                    </div>
                </li>
            </ul>
            {{/with}}
            <div class="price_field">
                <h6>Вартість доставки</h6>
                <span>150$</span>
                <input type="hidden" value=150 name="deliveryPrice">
            </div>
            <h2>Оформлення замовлення</h2>
            <div class="input_field">
                {{> field name='lastname' text='Фамилия'}}
                {{> field name='firstname' text='Имя'}}
                {{> field name='phone' text='Мобильный телефон' type='number'}}
                {{> field name='email' text='Електронная почта' type='email'}}
            </div>
            <div class="description">
                <div>
                    <div for="">Комментарий</div>
                    <textarea name="description" rows="3" type="text"></textarea>
                    <p>Комментарий будет передан курьеру</p>
                </div>
            </div>
            <div class="bonus_field">
                {{> field name='minusBonus' text='Списать бонусы'}}
                {{> field name='promo' text='Промо-код'}}
            </div>
            <h2 class="res">Всього: {{totalPrice}}₴ (+{{cashBack}}₴ на бонусний рахунок)</h2>
            <input type="hidden" name="id" value="{{id}}">
            <input type="hidden" name="cashBack" value="{{cashBack}}">
            <input type="hidden" name="productPrice" value="{{productPrice}}">
            <input type="hidden" name="totalPrice" value="{{totalPrice}}">
            {{> button text='Оформить заказ'}}
        </section>
    </form>
</main>


{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}