{{#each list}}
    <section class="card">
        <h1>{{name}}</h1>
        <div class="card_description">{{description}}</div>
        <p class="card_id">ID: {{id}}</p>
        <div class="card_footer">
            <div class="price"> {{price}}₴</div>
            <a href="/product-edit?id={{id}}">Редактировать</a>
        </div>
    </section>
    {{/each}}